.main-footer {
    color: white;
    /* background: rgb(47, 6, 82); */
    background-color:#2d314d;
    padding-top: 2em;
    position: relative;
    bottom: 0;
    width: 99%;
  }

  .last-box{ 
    text-align: center;
    width: 100%;
    margin-top: -30px;
  } 
  .last-box #link1{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

form .btnList{
   
    height: 40px;
    width: 17%;
    background:rgb(79, 156, 69);
    border:none;
    border-radius: 6px;
    /* margin: 0px 40px 0px 360px; */
    position:absolute;
    left:50%;
    font-weight: 600;
    cursor: pointer;
    color:#fff;
    margin-left: 31%;
    margin-top: -1.2em;
}
.btn:hover{
    background: rgb(107,204,94);
}


 .btn h2{
    color: white;
    padding-bottom: 0px;
    /* margin: 0px; */
    padding-top: 10px;
  
    font-size: 25px;


}


.ios{
    height: 70px; 
    width: 45%;
   text-decoration: none;
   background:rgb(8, 8, 8);
   color:#fff;
   font-weight: 1800;
    border-radius: 10px; 
    cursor: pointer;
    padding:10px 20px 30px 5px; 
    right: 100%;
    margin-left: 80px;
    margin-bottom: 7px;
    
 } 

 .list-unstyled{
    list-style-type: none;
    /* padding:3px 0px 0px 170px ; */
   
    /* color: white; */
    /* float: left;  */
} 
.about h4{
    float: left;
    padding:3px 0px 0px 170px ;
}
.nisha{
    width: 55%;
     height: .2em; 
   background-color: #9698a6;
    border-radius: 30%;
    /* margin: 10 auto 14rem; */
    margin-top: 10px;
    padding-top: 2px 60px;

   
}

.xyz img{
    height: 38px;
  /* padding:2px 40px 0px ;  */
  padding-top: -20px;
  /* margin: 15px 30px 10px 0px; */
  margin-left: -90px;
  margin-top: -45px;
 position:absolute;
 /* right:91%; */
 cursor: pointer;

    } 

.ios h1{
    margin-left: 30px;
}

.ios h2{
    margin-left: 30px;
}
.hrs{

    width: 100%;
}

.vertical{
   
  height: 100px;
  position: absolute;
  /* left: 50%; */
  /* margin-left: -3px; */
  top: 10;
  
border-radius: 0%;
width: 0px;

}
.about{
    margin-left: 40px;
    margin-bottom: 10px;
    font-weight: 700;
}
.Download{
    margin-left: 50px;
    margin-bottom: 7px;
}
.terms{
    margin-left: 40px;
    margin-bottom: 10px;
    font-weight: 700;
}
@media (max-width: 1000px){
    .downloadApp{
        display: block;
    
        margin-bottom: 1em;
        margin-right: 6em;
        margin-left: -1em;
    }
    .footerHeading{
        margin-bottom: 2em;
    }
    .Download{
        margin-left: 5em;
    }
    .AboutUs{
        display: block;
        width: 100%;
        margin-left: 2.5em;
    }
    .main-footer{
        display: block;
    }
  .listUrProperty .btnList{
      display: block;
      margin-top: 4em;
     width: 40%;
      margin-left: -7em;
  }
   
    .ios{
        width: 80%;
    }


}