.productdetail{
    display: inline;
  }
.image1{
    width: 30%;
    display: inline-block;
} 

.rentdetail{
    
    display: inline;
  }

.picdetail{
  font: bold;
  margin-left: 15%;
  margin-top: 0%;

 
  
}
.btn8{
  margin-left: 15%;
  right: 30px;
  width: 30%;
  flex: center;
  height: 4rem;
  border-radius:.5rem;
  font-size: 1.6rem;
  background-color: rgb(3, 3, 73);
  color: antiquewhite;

 
  
}

 
.image2{
   width: 27%;
  display: inline-block;
 margin: 1%;
 border:1px solid black;

}

.cards{
  width: 30%;
  display: inline;
}




.box{
  flex: 1;
  min-width: 20%;
  min-height: 100%;
  overflow: hidden;
  padding: 15px;
  box-shadow: 4px 5px 10px #ddd;
  transition: 0.5s ease-in-out;
  cursor: pointer;
 
}
.box:hover{
  box-shadow: none;
}
.box h3{
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 10px;
}
.details span{
  color: teal;
  padding-right: 10px;
}
.text p{
  line-height: 1.4;
  margin: 5px 0;
}
.text span{
  color:teal;
  padding-right: 10px;
}
.link{
text-decoration: none;
color: white;
background: #555;
display: block;
text-align: center;
height: 40px;
line-height: 40px;
text-transform: uppercase;
margin-top: 15px;
}
.heart{
  padding-left: 75%;
  
  
  
  
  
  
}
.leftright{
  padding-top: 65%;
  padding-left: 0%;
  
}
.box .box1{
  letter-spacing: normal;
  font-weight: 400;
}
.leftright h5{
  font-size: x-large;
  color: wheat;
  letter-spacing: 3px;
}


@media (max-width: 700px) {

.cards{
  display: block;
  width: 100%;
}

.image2{
  width: 90%;
  display: block;
}





}