.profile-img{
       
      border:1px solid gray;
      background-image: url(../../images/ants/square_profile.png);
      background-size: cover;
      width: 22rem;
      height: 22rem;     
      border-radius: 4px;
     

}


.s_icon
{
  text-align:left;
  margin:8%;
  font-size:22px;
  font-weight:500;
  padding:3%;
}

.active
{
  background-color: #191970;
  color: white;
}

.whats-app-img
{
  width: 50px;
  height: 50px;
  background-image: url(../../images/ants/whatsapp-icon.png);
  background-size: cover;
  float: left;
  margin-left: 12%;
}

.para{
  margin-top: -12%;
  font-size: 18px;
  float: right;
  color: gray;
}


.labels
{
  margin: 2%;
  margin-left:3%;
  width: 20%;
  background-color: white;
 

}

.frontform{
  margin: 2%;
  width: 70%;
  background-color: white;
  min-height: 100vh;
}

.head{
  font-size: 24px;
  font-weight: 700;
  margin: 5%;
  text-align: left;
}

.horizontals{
 width: 95%;
 color: gray;
}

.head1{
  font-size: 24px;
  font-weight: 700;
  margin: 2.5%;
  text-align: left;
}


.formtext{
  width: 60%;
  border-color: gray;
  align-self:center;
  text-align: center;
  
  margin: 1%;

}

.spans{
  text-align: justify;
  margin-right: 4%;
  margin-left: -10%;
  font-weight: 500;
  font-size: 22px;
}


.set-form
{
  margin-left: 10%;
}


.squares{
  display: block;
    float: left;

    width: 150px;
    height: 150px;


    /* a small margin to separate the blocks */
    margin-right: 5px;
}


.formlabel{
  position:absolute;top:-.7rem;left:.65rem;color:#0052cc;font-size:1.2rem;background-color:#fff;padding:0 .5rem;font-weight:400;pointer-events:none;cursor:text
}

.forminp{
  width:50%;
  float:left;
  height:12%;
  font-size:17px;
  padding:12px;
  border-radius:4px;
  margin-left:12%;
  margin-bottom:5%;
}




.imageblock{

}

.profile-form{
  width:90%;
  margin:5%;
  float:left;

}

.formcol{
  width: 55%;
  float: right;
  margin-right: 2%;
}

.imagecol{
  width: 40%;
 
  float: left;
  margin-left: 3%;
}


.files{
  font-size: 20px;
  height: 45px;
  padding: 3%;
  margin-left: 4%;
}



@media (max-width: 700px) {

  .profile-img
  {
    float: none;
    width: 12rem;
      height: 12rem;     
  }

  .imageblock
  {
    margin: 0;
  }

  .imagecol
  {
    float: none;
    display: block;
    width: 100%;
  }
  .formcol{
   width:100%;
  }

  .form-group{
    width: 100%;
  }
  input{
    width: 90%;
  }
  .sign-up-form{
    width: 90%;
  }
  .form-center{
    width: 80%;
  }
}