.signup-container {
    text-align: center;
    width: 100%;
}


.signup-content {
    background: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    width: 60%;
    display: inline-block;
    margin-top: 30px;
    vertical-align: middle;
    position: relative;    
    padding: 35px;
}

  


.social-btn {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
}

.social-btn img {
    height: 32px;
    float: left;
    margin-top: 10px;
}

.social-btn.google {
    margin-top: 7px;
}

.social-btn.facebook img {
    height: 24px;
    margin-left: 3px;
}

.social-btn.github img {
    height: 24px;
    margin-left: 3px;
}

.login-link {
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
}

.signup-title {
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.65);
}


.container 
.text-center {
    text-align: center;
    font-style: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;  
    font-style: normal;
      
}




.inp-btn{
    background-color:#08090a;
    width: 100%;
    color:#fff;
    cursor:pointer;
    border:none;outline:none;
    border-radius:.5rem;
    font-size:1.6rem;
    height:5rem
}


/* .inp-btn1 {
    background-color: #4CAF50; 
    width: 50%;
    border: 1px solid green; 
    color: white;    padding: 10px 24px; 
        cursor: pointer; 
    float: left; 
  } */

 

.heading{
    font-size: xx-large ;
    font-style: bold;
}
 
  
  .hr{
      width: 100%;
  }

  /* .row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    margin: 0 -16px;
  }
   */
  /* .col {
    -ms-flex: 25%; 
    flex: 25%;
  } */
  /* .label {
    margin-bottom: 10px;
    display: block;
  } */
  /* form_control{ */
      /* width: 70%;
      height: 30px;*/
      /* border-radius: 8px; 
  border: 2px solid black;
  padding: 20px;
  width: 70%;
  height: 70px; */
  /*-----------------------------------------------------------------------*/
 
  /* border: 2px solid red;
  border-radius: 4px; */
  
  .form-control-1{
      /* width: 55%;
      height: 30px; */
      border-radius: 8px; 
      border: 2px solid black;
      padding: 20px;
      width: 55%;
      height: 59px;
  }
  
    
  
  /* .btn4{
    background-color:#225991;
    right: 30px;
    width: 100%;
    color:#fff;
    cursor:pointer;
    border:none;outline:none;
    border-radius:.5rem;
    font-size:1.6rem;
    height:5rem

  } */
  /* .form_control-2{ */
      /* width: 86%;
      height: 30px; */
      /* border-radius: 8px; 
      border: 2px solid black;
      padding: 20px;
      width: 86%;
      height: 70px;
  } */
  /* .form-control1{ */
      /* width: 86%;
      height: 30%; */
      /* border-radius: 8px; 
      border: 2px solid black;
      padding: 20px;
      width: 86%;
      height: 100px;
  } */
  /* .form_control11{
    background-color:black;
    right: 30%;
    width: 50%;
    color:#fff;
    cursor:pointer;
    border:none;outline:none;
    border-radius:.5rem;
    font-size:2.5rem solid;
    font-display: center;
    height:4.5rem;
    display:flex;
    margin:0 1rem

  }


 */



  
  
  /* .btn{
    background-color:#08090a;
    right: 30px;
    width: 30%;
    color:#fff;
    cursor:pointer;
    border:none;outline:none;
    border-radius:.5rem;
    font-size:1.6rem;
    height:5rem

  } */
  /* .form-group{
    white-space: nowrap;
    padding-left: 0.4em;
    pointer-events: 0.4em;
    margin: 8px;
    
  } */
  /* .form-group .formSelect1 .label{
    position:absolute;
    top:-.7rem;left:.65rem;
    color:#0052cc;
    font-size:1.2rem;
    background-color:#fff;
    padding:0 .5rem;
    font-weight:400;
    pointer-events:none;
    cursor:text
  }
  .btn1{
    background-color:#1b61a7;
    right: 30px;
    width: 100%;
    color:#fff;
    cursor:pointer;
    border:none;outline:none;
    border-radius:.5rem;
    font-size:1.6rem;
    height:5rem

  }
   */
 
 
  
  
