.container10{
        
    position:absolute;
    margin-top: -23.3%;
    padding-top: 2em;
    z-index: 100;
    

    
    transform:translate( -50%, -50%);
    width: 400px;
    height: 27em;
    margin-left: 16em;
    border-radius:10px;
    /* display:flex; */
    flex-direction: column;
    backdrop-filter:blur(4px); 
     background-color: #fff;
    border:.7px solid rgb(44, 37, 37);
    align-items: center; justify-content: space-evenly;
    color:white;
    
    }
.container9{
        
    position:absolute;
    margin-top: -23.3%;
    padding-top: 2em;
    z-index: 100;
    

    
    transform:translate( -50%, -50%);
    width: 400px;
    height: 27em;
    margin-left: 16em;
    border-radius:10px;
    /* display:flex; */
    flex-direction: column;
    backdrop-filter:blur(4px); 
     background-color: #fff;
    border:.7px solid rgb(44, 37, 37);
    align-items: center; justify-content: space-evenly;
    color:white;
    
    }
    @media   (max-width: 760px){
        .container9{
            display: block;
            /* margin-left: 1em; */
            margin-top: 15em;
            width: 22em;
            right: 4em;
            
         
            height: 70%;

        }
       
        .city-input label{
            margin-left: 0.5em;
        }
        .city-input input{
            margin-left: 0.5em;
            margin-right: .5em;
        }
        .state-input label{
            margin-left: 0.5em;
        }
        .state-input input{
            margin-left: 0.5em;
            margin-right: .5em;
        }
        .budget h3{
            margin-left: 0.1em;
        }
        
        .btn-box {
            margin-left: 0em;
            width: 100%;
        }
        .max{
            margin-left: -2em;
        }
        .mini{
            margin-left: 1em;
        }
        
    }
     
    .inputs {
     width:260px;
     height:260px;
         }
        
    .name-input{
        display:flex;  
        }
    
    .name-input input{
    
     width:130px;
    height:50px;
    padding:5px;
    outline: none;
    border: 5px solid #dbdbdb;
    padding:.9rem;
    }
            
    /* #inputone input{
            
    border-radius: 3px 0 0 3px;
            
    }  */
    
    /* #inputTwo input{
            border-radius:0 3px 3px 0;
                     } */
            
    input::placeholder{ color:#bfbfbf; }
    
    
    .location-input{
    
        display:flex;
     flex-direction: column;

    
    }
    
    .location-input input {
    
        height:50px;
        width: 80%;
        outline: none;
        border:.5px solid #dbdbdb; border-radius: 3px;
        padding: .9rem;
        margin-left: 3em;
        margin-right: 5.5em;

        /* border-radius: 20px; */
    
    }
  
    .location-input label{
        /* font-size: large;
        color: black;
        font-weight: 600;*/
        /* margin-left: 0.7em;  */
         position:absolute; 
        top:6.8rem;
        left:4.9rem;
        color:black;
        font-size:1.9rem;
        background-color:#fff;
        padding:0 .5rem;
        font-weight:400;
        pointer-events:none;
        cursor:text

    }
    .city-input label{
        /* font-size: large;
        color: black;
        font-weight: 600;*/
        margin-left: 0.5em; 
        position:fixed;
        top:13.9rem;
        left:3.5rem;
        color:black;
        font-size:1.9rem;
        background-color:#fff;
        padding:0 .5rem;
        font-weight:400;
        pointer-events:none;
        cursor:text
    }
    .state-input label{
        /* font-size: large;
        color: black;
        font-weight: 600;
        margin-left: 0.5em; */
        margin-left: 0.5em; 
         position:absolute; 
        top:21rem;
        left:3.5rem;
        color:black;
        font-size:1.9rem;
        background-color:#fff;
        padding:0 .5rem;
        font-weight:400;
        pointer-events:none;
        cursor:text
    }
    .propertyType-input label{
        /* font-size: large;
        color: black;
        font-weight: 600;*/
        margin-left: 0.5em; 
        position:fixed;
        top:28.3rem;
        left:3.5rem;
        color:black;
        font-size:1.9rem;
        background-color:#fff;
        padding:0 .5rem;
        font-weight:400;
        pointer-events:none;
        cursor:text
    }
    .budget h3{
        color: black;
        font-weight: 600;
    }
    
    
    .city-input{
    
        display:flex;
     flex-direction: column;
    
    }
    
    .city-input input {
    
        height:50px;
        width: 80%;
        outline: none;
        border:.5px solid #dbdbdb; border-radius: 3px;
        padding: .9rem;
        margin-left: 3em;
        margin-right: .5em;
        /* border-radius: 20px; */
    
    }
    .propertyType-input{
            
        display:flex;
         flex-direction: column;
         }
            
            
     .state-input{
            
    display:flex;
     flex-direction: column;
     }
     .propertyType-input select{
            
        height:50px;
        width: 80%;
        outline: none;
        border:.5px solid #dbdbdb; border-radius: 3px;
        padding: .9rem;
        margin-left: 3em;
        margin-right: 0.5em;
        /* border-radius: 20px; */
                
        } 
            
    .state-input input{
            
    height:50px;
    width: 80%;
    outline: none;
    border:.5px solid #dbdbdb; border-radius: 3px;
    padding: .9rem;
    margin-left: 3em;
    margin-right: 0.5em;
    /* border-radius: 20px; */
            
    } 
    
     /* label{
            padding:10px 0 0 0;
            font-size:.9rem;
             color:#fff; 
            } 
             */
     .btn-box{   
            height:80px;  
            }
            
            .btn-box p{
            font-size:.6rem; padding: 1rem 0;
            }
    
    
    .btn-box button{
    
    width:80%;
    height:45px;
    margin: 25px 0px;
    font-size: large;
    font-weight: 600;
    border-radius:9px;
    border:none;
    outline: none; background:#007bff;
    color:white;
    margin-left: 2.5em;
    /* border-radius: 20px; */
    }
                
    
    
    /* .budget{
    
        margin-top: 20px;
        margin-left: 0.5em;
    
    }
    
    
    .mini{
    
        font-size:small;
        color: black;
    }
    
    
    .max{
        font-size:small;
        position: relative;
        left: 250px;
        color: black;
    } */
    .budget label{
    
            display: inline-block;
            margin-bottom: .5rem;
            margin-top: 1rem;
            color: black;
            margin-left:2.5em ;
        
    }
    .budget input{
        overflow: visible;
    }
    .budget-range input[type="range" i] {
        appearance: auto;
        color: -internal-light-dark(rgb(16, 16, 16), rgb(255, 255, 255));
        cursor: default;
        padding: initial;
        border: initial;
        margin: 2px;
    }
    .budget-range{
        display: block;
    width: 80%;
    margin-left: 3em;
    appearance: auto;
        color: -internal-light-dark(rgb(16, 16, 16), rgb(255, 255, 255));
        cursor: default;
        padding: initial;
        border: initial;
        /* margin: 2px; */
    /* margin-right: .1em; */
    }



     /* label{position:absolute;top:-.7rem;left:.65rem;color:#0052cc;font-size:1.2rem;background-color:#fff;padding:0 .5rem;font-weight:400;pointer-events:none;cursor:text} */
     .city label{
        /* font-size: large;
        color: black;
        font-weight: 600;*/
        margin-left: 0.5em; 
        position:fixed;
        top:3.7em;
        left:3.5rem;
        color:black;
        font-size:1.9rem;
        background-color:#fff;
        padding:0 .5rem;
        font-weight:400;
        pointer-events:none;
        cursor:text
    }
    .city input {
    
        height:50px;
        width: 80%;
        outline: none;
        border:.5px solid #dbdbdb; border-radius: 3px;
        padding: .9rem;
        margin-left: 3em;
        margin-right: .5em;
        /* border-radius: 20px; */
    
    }
    .movingfrom label{
        /* font-size: large;
        color: black;
        font-weight: 600;*/
        margin-left: 0.5em; 
        position:fixed;
        top:7.4em;
        left:3.5rem;
        color:black;
        font-size:1.9rem;
        background-color:#fff;
        padding:0 .5rem;
        font-weight:400;
        pointer-events:none;
        cursor:text
    }
    .movingfrom input {
    
        height:50px;
        width: 80%;
        outline: none;
        border:.5px solid #dbdbdb; border-radius: 3px;
        padding: .9rem;
        margin-left: 3em;
        margin-right: .5em;
        /* border-radius: 20px; */
    
    }
    .movingto label{
        /* font-size: large;
        color: black;
        font-weight: 600;*/
        margin-left: 0.5em; 
        position:fixed;
        top:11.2em;
        left:3.5rem;
        color:black;
        font-size:1.9rem;
        background-color:#fff;
        padding:0 .5rem;
        font-weight:400;
        pointer-events:none;
        cursor:text
    }
    .movingto input {
    
        height:50px;
        width: 80%;
        outline: none;
        border:.5px solid #dbdbdb; border-radius: 3px;
        padding: .9rem;
        margin-left: 3em;
        margin-right: .5em;
        /* border-radius: 20px; */
        
    
    }
    .bhktype{
        border-radius: 5px;
    
        width:8em;
         height:2em;
         background: gray;
         color: white;

    }
    .bhktype:hover{
        background: rgb(107,204,94);
    }
    .moversCard{
        border: 1px solid #111;
        margin-left: 20em;
        padding: 20px;
        width: 60%;
        border: none;
        height: 16em;
        margin-top: -19em;
        margin-bottom: 10em;
        background-color: rgb(223, 219, 219);
        
    }
    .moversbtn{
        display: block;
        width: 10em;
        height: 4em;
        margin-left: 3em;
        margin-bottom: 2em;
        border-radius: 3px;
        font-size: 15px;
        color: white;
        background-color: #111;
    }
    .moversbtn:hover{
        background-color: rgb(22, 102, 11);
    }
    .moversPara{
        background-color: bisque;
        text-align: center;
        width: 70%;
        font-size: small;
    }
    .moversImg img{
        width: 120px;
        height: 120px;
        margin-left: 32em;
        margin-top: -11em;
    }